@{
    Layout = null;
}

<!DOCTYPE html>

<html>
   
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="@Url.Content("~/Scripts/react.js")"></script>
        <script src="@Url.Content("~/Scripts/react-dom.js")"></script>
        <script src="https://cdn.jsdelivr.net/pubsubjs/1.4.2/pubsub.min.js"></script>
   
         <link rel="stylesheet" type="text/css" href="Styles/ReactDataGridTest.css">
    </head>
    <body>
        <div id="content"></div>
        <script src="@Url.Content("~/Scripts/ReactDataGrid.jsx")"></script>
        <script src="@Url.Content("~/Scripts/ReactDataGridTester.jsx")"></script>
        <script src="@Url.Content("~/Scripts/Tests/TestSorting.jsx")"></script>
        <br/>
        <input type="button" value="Go to page 2" id="goTo2NdPageButton" onclick="rdcTesting.reactDataGrid.loadData({ page: 2 })"/>
        <input type="button" value="Go to page -999" id="goTo-999PageButton" onclick="rdcTesting.reactDataGrid.loadData({ page: -999 })"/>
        <input type="button" value="x" onclick ="rdcTesting.rerender()">
    <br/>
    <div style="font-weight: bold">
        The state load parameters:
    </div>
    <div>
        <div style="float: left">
            <div style="font-weight: bold">
                before loading:
            </div>
            <div id="loadParsBeforeLoading"></div>
        </div>
        <div style="margin-left: 120px">
            <div style="font-weight: bold">
                after loading:
            </div>
            <div id="loadParsAfterLoading"></div>
        </div>
    </div>
    </body>
</html>
